/* Solo tendremos una hoja de estilos propia para el proyecto, no es necesario crear mas archivos css */

/* Selector Universal (*) va a seleccionar todos los elementos del html */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Para que el ancho y el alto de los elementos html se ajuste a lo declarado */
}

body {
    background-color: orange;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    min-height: 100vh;
}

a {
    color: inherit;
}

.inicio1 {
    background-color: rgb(168, 38, 168);
    color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding: 4rem;
    display: flex;
}

.inicio1__subtitulo {
    /* Cuando sean margin o padding o border puedo utilizar la unidad de medida rem o en su defecto directamente px */
    margin-bottom: 2rem; /* 1rem = 16px eso quiere decir 2rem = 32px */
    text-transform: uppercase;
    font-weight: 700;
}

.inicio1__titulo {
    /* Con el tamaño de la fuente tambien podemos utilizar rem o px */
    font-size: 3rem; /* Es decir 3rem * 16px = 48px */
    margin-bottom: 2rem;
}

.inicio1__eslogan {
    line-height: 1.8;
    margin-bottom: 2rem;
}

.inicio1__boton {
    background-color: #000000;
    border-radius: 50px;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.inicio1__textos {
    /* background-color: yellow; */
    width: 60%; /* Suelo utilizar en los anchos esta unidad de medida % en dado de ser necesario puedo colocar otra como px */
}

.inicio1__picture {
    /* background-color: navy; */
    width: 40%;
}

.inicio1__terminos {
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
}

.inicio2 {
    background-image: url(../imagenes/fondo-ilustracion-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 100px 4rem;
    min-height: 70vh;
    background-color: #2d46b9;
    color: #1ed760;
    background-attachment: fixed;

    position: relative;
}

.position-fixed {
    background-color: green;
    color: white;
    font-size: 32px;
    position: fixed;
    /* top, left, right, bottom */
    right: 2rem;
    bottom: 2rem;
    z-index: 10;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: black;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.main {
    padding-top: 93px;
}

.inicio2__absolute {
    position: absolute;
    background-color: white;
    color: black;
    top: 2rem;
    right: 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-transform: uppercase;
}

.nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav__item {
    margin-left: 2rem;
}

.nav__enlace {
    text-decoration: none;
}

.inicio2__titulo {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.inicio2__parrafo {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 400px;
}

.inicio2__boton {
    background-color: #1ed760;
    color: #2d46b9;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
}

.footer {
    background-color: black;
    color: white;
    padding: 4rem 2rem;
}

.footer__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.footer__lista {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
}

.footer__item {
    margin-left: 2rem;
}

.servicios1 {
    background-color: #222222;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.servicios1__titulo {
    font-size: 40px;
    margin-bottom: 2rem;
    text-align: left;
    padding: 2rem 0;
}

.servicios1__padre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 1rem;
    
}

.servicios1__hijo {
    background-color: orange;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding: 1rem;

    position: relative;
    overflow: hidden;
}

.servicios1__img {
    position: absolute;
    bottom: -24px;
    right: -24px;
    transform: rotate(35deg); /* Rotando un elemento con CSS */
}

.servicios1__hijo--1 {
    background-color: #17a779;
}

.servicios1__hijo--2 {
    background-color: #2d46b9;
}

.servicios1__hijo--3 {
    background-color: #863b97;
}


/* Vamos a crear una media query para aplicar estilos necesarios o cambios necesario para la vistas pequeñas */
/* Tablet */
@media (max-width: 1023px) {
    /* Estilos a aplicar... */
    .inicio1 {
        background-color: navy;
        flex-direction: column;
        align-items: center;
    }

    .inicio1__textos {
        margin-bottom: 20px;
    }

    .inicio1__picture {
        width: 100%;
    }

    .inicio1__picture img {
        object-position: top center;
    }

    img, iframe, video {
        width: 100%;
        object-fit: cover;
    }

    .header img {
        width: 100px;
        object-fit: unset;
    }

    .inicio2 {
        color: #fff;
    }

    .footer__logo {
        width: 100px;
    }
}

/* Movil */
@media (max-width: 600px) {
    /* Estilos a aplicar... */
    .inicio1 {
        background-color: pink;
        padding: 4rem 1rem;
    }

    .inicio1__textos, .inicio1__picture {
        width: 100%;
    }

    img, iframe, video {
        width: 100%;
        object-fit: cover;
    }

    .inicio1__titulo {
        font-size: 2rem;
    }

    .header {
        flex-direction: column;
        justify-content: center;
    }

    .header img {
        height: 32px;
        width: auto;
    }

    .nav__lista {
        gap: 10px;
    }

    .nav__item {
        margin-left: 0;
    }

    .inicio2 {
        padding: 6rem 1rem;
    }

    .inicio2__titulo {
        font-size: 2rem;
    }

    .footer__lista {
        flex-direction: column;
    }

    .servicios1__titulo {
        font-size: 28px;
    }

    .servicios1__padre {
        flex-direction: column;
        align-items: center;
    }

    .servicios1__img {
        width: 100px;
        height: 100px;
    }
}